<ul id="markdown-toc">

  {% include features/toc-link.html title="Introduction" url="/tutorial/" %}

  <li class="doc-section">Setup</li>
  {% include features/toc-link.html title="Overview" url="/new-tutorial/setup/overview/" %}
  {% include features/toc-link.html title="1. Install the CLI" url="/new-tutorial/setup/step-1/" %}
  {% include features/toc-link.html title="2. Create a New App" url="/new-tutorial/setup/step-2/" %}
  {% include features/toc-link.html title="3. Start the App" url="/new-tutorial/setup/step-3/" %}
  {% include features/toc-link.html title="4. Download the API Server" url="/new-tutorial/setup/step-4/" %}

  <li class="doc-section">Layout</li>
  {% include features/toc-link.html title="Overview" url="/new-tutorial/layout/overview/" %}
  {% include features/toc-link.html title="1. Install Bootstrap" url="/new-tutorial/layout/step-1/" %}
  {% include features/toc-link.html title="2. Add Layout and Header" url="/new-tutorial/layout/step-2/" %}

  <li class="doc-section">Routing</li>
  {% include features/toc-link.html title="Overview" url="/new-tutorial/routing/overview/" %}
  {% include features/toc-link.html title="1. Routes.js" url="/new-tutorial/routing/step-1/" %}
  {% include features/toc-link.html title="2. Convert Title to a Link" url="/new-tutorial/routing/step-2/" %}
  {% include features/toc-link.html title="3. Add Feed to Routes" url="/new-tutorial/routing/step-3/" %}

  <li class="doc-section">Data Structure</li>
  {% include features/toc-link.html title="Overview" url="/new-tutorial/data/overview/" %}
  {% include features/toc-link.html title="1. Add Mock Data to Feed" url="/new-tutorial/data/step-1/" %}
  {% include features/toc-link.html title="2. Create Tweet Component" url="/new-tutorial/data/step-2/" %}
  {% include features/toc-link.html title="2. Add Mock User Data" url="/new-tutorial/data/step-3/" %}

  <li class="doc-section">Fetching Data</li>
  {% include features/toc-link.html title="Overview" url="/new-tutorial/fetching/overview/" %}
  {% include features/toc-link.html title="1. Point App to API" url="/new-tutorial/fetching/step-1/" %}
  {% include features/toc-link.html title="2. Create Tweet Model" url="/new-tutorial/fetching/step-2/" %}
  {% include features/toc-link.html title="3. Connect Feed Component" url="/new-tutorial/fetching/step-3/" %}
  {% include features/toc-link.html title="4. Parse Server Response" url="/new-tutorial/fetching/step-4/" %}
  {% include features/toc-link.html title="5. Fetch User" url="/new-tutorial/fetching/step-5/" %}
  {% include features/toc-link.html title="6. Display Loading Message" url="/new-tutorial/fetching/step-6/" %}

  <li class="doc-section">Dialogs</li>
  {% include features/toc-placeholder-link.html title="Overview" url="/new-tutorial/dialogs/overview/" %}
  {% include features/toc-placeholder-link.html title="1. Add Create Button" url="/new-tutorial/dialogs/step-1/" %}
  {% include features/toc-placeholder-link.html title="2. Add Hook for Dialogs" url="/new-tutorial/dialogs/step-2/" %}
  {% include features/toc-placeholder-link.html title="3. Add Create Dialog" url="/new-tutorial/dialogs/step-3/" %}
  {% include features/toc-placeholder-link.html title="4. Add Edit Dialog" url="/new-tutorial/dialogs/step-4/" %}
  {% include features/toc-placeholder-link.html title="5. Add Delete Dialog" url="/new-tutorial/dialogs/step-5/" %}

  <li class="doc-section">Authentication</li>
  {% include features/toc-placeholder-link.html title="Overview" url="/new-tutorial/authentication/overview/" %}
  {% include features/toc-placeholder-link.html title="1. Add Profile to Layout" url="/new-tutorial/authentication/step-1/" %}
  {% include features/toc-placeholder-link.html title="2. Add Login Route & Widget" url="/new-tutorial/authentication/step-2/" %}
  {% include features/toc-placeholder-link.html title="3. Save User Token to LocalStorage" url="/new-tutorial/authentication/step-3/" %}
  {% include features/toc-placeholder-link.html title="4. Redirect App on Login" url="/new-tutorial/authentication/step-4/" %}
  {% include features/toc-placeholder-link.html title="5. Add Logout Route" url="/new-tutorial/authentication/step-5/" %}
  {% include features/toc-placeholder-link.html title="6. Add Authentication Decorator" url="/new-tutorial/authentication/step-6/" %}
  {% include features/toc-placeholder-link.html title="7. Add Hook for Auth" url="/new-tutorial/authentication/step-7/" %}
  {% include features/toc-placeholder-link.html title="8. Reset Store on Logout" url="/new-tutorial/authentication/step-8/" %}

  <li class="doc-section">Authorization</li>
  {% include features/toc-placeholder-link.html title="Overview" url="/new-tutorial/authorization/overview/" %}
  {% include features/toc-placeholder-link.html title="1. Authorization Decorator" url="/new-tutorial/authorization/step-1/" %}
  {% include features/toc-placeholder-link.html title="2. Hide Edit Link" url="/new-tutorial/authorization/step-2/" %}
  {% include features/toc-placeholder-link.html title="3. Hide Delete Link" url="/new-tutorial/authorization/step-3/" %}

  <li class="doc-section">Pagination</li>
  {% include features/toc-placeholder-link.html title="Overview" url="/new-tutorial/pagination/overview/" %}
  {% include features/toc-placeholder-link.html title="1. Demonstrate Traditional Pagination" url="/new-tutorial/pagination/step-1/" %}
  {% include features/toc-placeholder-link.html title="2. Add InfiniteScrolling Mixin" url="/new-tutorial/pagination/step-2/" %}
  {% include features/toc-placeholder-link.html title="3. Add Load More Button" url="/new-tutorial/pagination/step-3/" %}
  {% include features/toc-placeholder-link.html title="4. Freeze Pagination at Timestamp" url="/new-tutorial/pagination/step-4/" %}
  {% include features/toc-placeholder-link.html title="5. Insert New Tweets at Top of Feed" url="/new-tutorial/pagination/step-5/" %}

  <li class="doc-section">Filtering</li>
  {% include features/toc-placeholder-link.html title="Overview" url="/new-tutorial/filtering/overview/" %}
  {% include features/toc-placeholder-link.html title="1. Add Filter Component to App" url="/new-tutorial/pagination/step-1/" %}
  {% include features/toc-placeholder-link.html title="2. Display User Tweets" url="/new-tutorial/pagination/step-2/" %}

  <li class="doc-section">WebSockets</li>
  {% include features/toc-placeholder-link.html title="Overview" url="/new-tutorial/websockets/overview/" %}
  {% include features/toc-placeholder-link.html title="1. Add Hook for WebSockets" url="/new-tutorial/websockets/step-1/" %}
  {% include features/toc-placeholder-link.html title="2. Send cid to Server" url="/new-tutorial/websockets/step-2/" %}

  <li class="doc-section">Misc</li>
  {% include features/toc-link.html title="Installing Node" url="/tutorial/installing-node/" %}

</ul>
