---
layout: default
permalink: /new-to-react/
---

<div>

  {% include new-to-react/hero.html %}

  <div class="block section_download">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
          <h1>New to React?</h1>
        </div>
      </div>
    </div>
  </div>

  {% include new-to-react/getting-started.html %}

  {% include new-to-react/growth.html %}
  {% include new-to-react/ribbon.html %}
  {% include new-to-react/marketing.html %}

</div>

