<ul id="markdown-toc">
  {% include features/toc-link.html title="Introduction" url="/cli/" %}

  <li class="doc-section">Top Level</li>
  {% include features/toc-link.html title="new" url="/cli/new/" %}

  <li class="doc-section">Extractors</li>
  {% include features/toc-placeholder-link.html title="Action" %}
  {% include features/toc-placeholder-link.html title="Reducer" %}

  <li class="doc-section">Generators</li>
  {% include features/toc-link.html title="generate action" url="/cli/generate-action/" %}
  {% include features/toc-link.html title="generate model" url="/cli/generate-model/" %}
  {% include features/toc-link.html title="generate collection" url="/cli/generate-collection/" %}
  {% include features/toc-link.html title="generate component" url="/cli/generate-component/" %}
  {% include features/toc-placeholder-link.html title="generate reducer" %}

  <li class="doc-section">Tasks</li>
  {% include features/toc-link.html title="generate surge" url="/cli/generate-surge/" %}
  {% include features/toc-link.html title="generate github" url="/cli/generate-github/" %}

  <li class="doc-section">Extending & Overriding</li>
  {% include features/toc-placeholder-link.html title="Creating new commands" %}
  {% include features/toc-placeholder-link.html title="Overriding existing commands" %}

</ul>
