<ul id="markdown-toc">
  {% include toc-link.html title="Introduction" url="/cli/" %}

  <li class="doc-section">Top Level</li>
  {% include toc-link.html title="new" url="/cli/new/" %}

  <li class="doc-section">Extractors</li>
  {% include toc-link.html title="extract action" url="/cli/extract/action/" %}
  {% include toc-link.html title="extract reducer" url="/cli/extract/reducer/" %}

  <li class="doc-section">Generators</li>
  {% include toc-link.html title="generate action" url="/cli/generate/action/" %}
  {% include toc-link.html title="generate model" url="/cli/generate/model/" %}
  {% include toc-link.html title="generate collection" url="/cli/generate/collection/" %}
  {% include toc-link.html title="generate component" url="/cli/generate/component/" %}
  {% include toc-link.html title="generate reducer" url="/cli/generate/reducer/" %}

  <li class="doc-section">Tasks</li>
  {% include toc-link.html title="generate surge" url="/cli/generate/surge/" %}
  {% include toc-link.html title="generate github" url="/cli/generate/github/" %}

  <li class="doc-section">Misc</li>
  {% include toc-link.html title="Extending the CLI" url="/cli/misc/extending-the-cli/" %}

</ul>
