{% if page.url contains include.url %}
<li class="active">
{% else %}
<li>
{% endif %}
  <a href="{{ include.url }}">{{ include.title }}</a>
  <ul>
    {% include features/toc-placeholder-link.html title="actionBlueprints (todo)" %}
    {% include features/toc-placeholder-link.html title="actions (todo)" %}
    {% include features/toc-placeholder-link.html title="collections (todo)" %}
    {% include features/toc-placeholder-link.html title="connect (todo)" %}
    {% include features/toc-placeholder-link.html title="dialog (todo)" %}
    {% include features/toc-placeholder-link.html title="models (todo)" %}
    {% include features/toc-placeholder-link.html title="reducerActionMap (todo)" %}
    {% include features/toc-placeholder-link.html title="reducerBlueprints (todo)" %}
    {% include features/toc-placeholder-link.html title="reducers (todo)" %}
    {% include features/toc-placeholder-link.html title="redux (todo)" %}
    {% include features/toc-placeholder-link.html title="router (todo)" %}
  </ul>
</li>
