---
layout: quickstart
permalink: /quickstart/layout/step-1/
---

{% capture markdown %}

# Step 1: Add Bootstrap

In this step we're going to add [Bootstrap](http://getbootstrap.com) for some quick styling support.


### Install Bootstrap

To use Bootstrap, you first need to add the necessary CSS and JavaScript files. Open up the `index.html` file at the
root of your project and add the following stylesheet at the bottom of the `<head>` element.

```html
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
```

Now add the following scripts at the bottom of the `<body>` tag, immediately above the `bundle.js` script.

```html
<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
```

### Change Page Title

Next, change the title of the application from `New Lore App` to `Lore Quickstart`, so that we have a more meaningful
title displayed in the browser tab.

```html
<title>Lore Quickstart</title>
```

### Visual Check-in

If everything went well, your application should now look like this.

<img class="drop-shadow" src="/assets/images/quickstart/layout/step-1.png">

## Code Changes

Below is a list of files modified during this step.

### index.html

{% tabs tab1={"name": "Source", "id": 1} %}
{% tab id=1, is_active=true %}
```html
<html>
  <head>
    <title>Lore Quickstart</title>
    <style>
      .loading-text {
        font-family: "Open Sans", Arial, sans-serif;
        text-align: center;
        line-height: 100vh;
        font-size: 32px;
        margin: 0;
        font-weight: normal;
        color: rgba(0,0,0,.54);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>
  <body>
    <div id="root">
      <h1 class="loading-text">
        Loading...
      </h1>
    </div>
    <div id="dialog"></div>

    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/dist/bundle.js"></script>
  </body>
</html>
```
{% endtab %}
{% endtabs %}

## Next Steps

Next we're going to [add some custom styles](../step-2/).

{% endcapture %}
{{ markdown | markdownify }}
