---
layout: quickstart
permalink: /quickstart/layout/step-3/
---

{% capture markdown %}

# Step 3: Add the Header

In this step we're going to layout the application and add a Header at the top of the page.


### Generate the Header Component

The Lore CLI includes a number of commands to create various types of project files. One of those commands is
`generate`, and we'll be using it to generate the `Header` component.

Run the following command from the CLI:

```sh
lore generate component Header
```

This will generate a component called `Header` and place it at `src/components/Header.js`. The syntax of this file
will match whichever version of JavaScript you specified when you created the project (ES5, ES6 or ESNext) and will look
like this:

{% tabs tab1={"name": "ES5", "id": 101} | tab2={"name": "ES6", "id": 102} | tab3={"name": "ESNext", "id": 103} %}
{% tab id=101, is_active=true %}
```jsx
var React = require('react');

module.exports = React.createClass({
  displayName: 'Header',

  propTypes: {},

  render: function() {
    return (
      <div></div>
    );
  }
});
```
{% endtab %}
{% tab id=102 %}
```jsx
import React, { Component, PropTypes } from 'react';

class Header extends Component {

  constructor(props) {
    super(props);

    // Set your initial state here
    // this.setState = {};

    // Bind your custom methods so you can access the expected 'this'
    // this.myCustomMethod = this.myCustomMethod.bind(this);
  }

  render() {
    return (
      <div></div>
    )
  }
}

Header.propTypes = {};

export default Header;
```
{% endtab %}
{% tab id=103 %}
```jsx
import React, { Component, PropTypes } from 'react';

class Header extends Component {

  static propTypes = {}

  render() {
    return (
      <div></div>
    );
  }
}

export default Header;
```
{% endtab %}
{% endtabs %}

> If you're interested in learning more about the `generate` command see [the docs for the CLI](/cli/generate/component/).

### Modify the Header Component

Now that we've created the skeleton for the Header component, modify the render function to look like this:

{% tabs tab1={"name": "ES5", "id": 104} | tab2={"name": "ES6", "id": 105} | tab3={"name": "ESNext", "id": 106} %}
{% tab id=104, is_active=true %}
```jsx
// src/components/Header.js
...
  render: function() {
    return (
      <nav className="navbar navbar-default navbar-static-top header">
        <div className="container">
          <div className="navbar-header">
            <div className="navbar-brand">
              Lore Quickstart
            </div>
          </div>
        </div>
      </nav>
    );
  }
...
```
{% endtab %}
{% tab id=105 %}
```jsx
// src/components/Header.js
...
  render() {
    return (
      <nav className="navbar navbar-default navbar-static-top header">
        <div className="container">
          <div className="navbar-header">
            <div className="navbar-brand">
              Lore Quickstart
            </div>
          </div>
        </div>
      </nav>
    );
  }
...
```
{% endtab %}
{% tab id=106 %}
```jsx
// src/components/Header.js
...
  render() {
    return (
      <nav className="navbar navbar-default navbar-static-top header">
        <div className="container">
          <div className="navbar-header">
            <div className="navbar-brand">
              Lore Quickstart
            </div>
          </div>
        </div>
      </nav>
    );
  }
...
```
{% endtab %}
{% endtabs %}


### Add the Header to the Layout

Finally we need to modify the output of the `Layout` component so the Header gets rendered to the browser. Import the
`Header` component into `Layout` and update the render function for `Layout` to look like this:

{% tabs tab1={"name": "ES5", "id": 107} | tab2={"name": "ES6", "id": 108} | tab3={"name": "ESNext", "id": 109} %}
{% tab id=107, is_active=true %}
```jsx
// src/components/Layout.js
var Header = require('./Header');
...
  render: function() {
    return (
      <div>
        <Header />
        <div className="container">
          <div className="row">
            <div className="col-md-offset-3 col-md-6">
              {/* Feed will go here */}
            </div>
          </div>
        </div>
      </div>
    );
  }
...
```
{% endtab %}
{% tab id=108 %}
```jsx
// src/components/Layout.js
import Header from './Header';
...
  render() {
    return (
      <div>
        <Header />
        <div className="container">
          <div className="row">
            <div className="col-md-offset-3 col-md-6">
              {/* Feed will go here */}
            </div>
          </div>
        </div>
      </div>
    );
  }
...
```
{% endtab %}
{% tab id=109 %}
```jsx
// src/components/Layout.js
import Header from './Header';
...
  render() {
    return (
      <div>
        <Header />
        <div className="container">
          <div className="row">
            <div className="col-md-offset-3 col-md-6">
              {/* Feed will go here */}
            </div>
          </div>
        </div>
      </div>
    );
  }
...
```
{% endtab %}
{% endtabs %}


### Visual Check-in

If everything went well, your application should now look like this.

<img class="drop-shadow" src="/assets/images/quickstart/layout/step-3.png">

## Code Changes

Below is a list of files modified during this step.

### src/components/Header.js

{% tabs tab1={"name": "ES5", "id": 1} | tab2={"name": "ES6", "id": 2} | tab3={"name": "ESNext", "id": 3} %}
{% tab id=1, is_active=true %}
```jsx
var React = require('react');

module.exports = React.createClass({
  displayName: 'Header',

  render: function() {
    return (
      <nav className="navbar navbar-default navbar-static-top header">
        <div className="container">
          <div className="navbar-header">
            <div className="navbar-brand">
              Lore Tutorial
            </div>
          </div>
        </div>
      </nav>
    );
  }
});
```
{% endtab %}
{% tab id=2 %}
```jsx
import React, { Component, PropTypes } from 'react';

class Header extends Component {

  render() {
    return (
      <nav className="navbar navbar-default navbar-static-top header">
        <div className="container">
          <div className="navbar-header">
            <div className="navbar-brand">
              Lore Quickstart
            </div>
          </div>
        </div>
      </nav>
    );
  }
}

export default Header;
```
{% endtab %}
{% tab id=3 %}
```jsx
import React, { Component, PropTypes } from 'react';

class Header extends Component {

  render() {
    return (
      <nav className="navbar navbar-default navbar-static-top header">
        <div className="container">
          <div className="navbar-header">
            <div className="navbar-brand">
              Lore Quickstart
            </div>
          </div>
        </div>
      </nav>
    );
  }
}

export default Header;
```
{% endtab %}
{% endtabs %}

### src/components/Layout.js

{% tabs tab1={"name": "ES5", "id": 4} | tab2={"name": "ES6", "id": 5} | tab3={"name": "ESNext", "id": 6} %}
{% tab id=4, is_active=true %}
```jsx
var React = require('react');
var Header = require('./Header');

module.exports = React.createClass({
  displayName: 'Layout',

  render: function() {
    return (
      <div>
        <Header />
        <div className="container">
          <div className="row">
            <div className="col-md-offset-3 col-md-6">
              {/* Feed will go here */}
            </div>
          </div>
        </div>
      </div>
    );
  }

});
```
{% endtab %}
{% tab id=5 %}
```jsx
import React, { Component, PropTypes } from 'react';
import Header from './Header';

class Layout extends Component {

  render() {
    return (
      <div>
        <Header />
        <div className="container">
          <div className="row">
            <div className="col-md-offset-3 col-md-6">
              {/* Feed will go here */}
            </div>
          </div>
        </div>
      </div>
    );
  }

}

export default Layout;
```
{% endtab %}
{% tab id=6 %}
```jsx
import React, { Component, PropTypes } from 'react';
import Header from './Header';

class Layout extends Component {

  render() {
    return (
      <div>
        <Header />
        <div className="container">
          <div className="row">
            <div className="col-md-offset-3 col-md-6">
              {/* Feed will go here */}
            </div>
          </div>
        </div>
      </div>
    );
  }

}

export default Layout;
```
{% endtab %}
{% endtabs %}


## Next Steps

Next we're going to [setup routing](../../routing/overview/).

{% endcapture %}
{{ markdown | markdownify }}
