---
layout: quickstart
permalink: /quickstart/layout/step-2/
---

{% capture markdown %}

# Step 2: Add Custom Styles

In this step we're going to add some custom styles we'll need for the rest of the Quickstart.

> You can view the finished code for this step by checking out the `layout.2` branch of the [completed project](/quickstart/misc/completed-project/).

### Styling Support in Lore

Lore includes support for CSS, LESS and SASS by default. If you open up the `/assets` folder at the root of your
project you'll see a folder named for each style.

```
-assets
  |-css
  |-less
  |-sass
```

For this Quickstart, we're going to be using vanilla CSS.

> In a real project, you can simply delete the folders of the styles you don't want to use, or use inline styles or
> your favorite JSS library (JavaScript Style Sheets). Lore has no opinions about how you style your application, it
> simply includes Webpack loaders for LESS and SASS by default.
>
> That being said, one advantage of using CSS, LESS, or SASS for your project is that Webpack can hot-reload changes
> without the need to refresh your application, which adds a convenience to that aspect of development.

### Add Custom Styles

Open up `/assets/css/main.css`. Delete the existing styles and replace them with this code:

```css
/*
 * Create Tweet Button
 */

.create-button {
  position: absolute;
  top: 25px;
  right: 15px;
  z-index: 1000;
  border-radius: 100px;
  outline: none;
}

/*
 * Edit and Delete Links
 */

.link {
  cursor: pointer;
  margin-right: 16px;
}

/*
 * Feed
 */

.feed .title {
  text-align: center;
}

.feed .tweets {
  margin-top: 32px;
}

.feed .pagination {
  text-align: center;
}

.feed nav {
  text-align: center;
}

/*
 * Filter
 */

.filter {
  marginTop: 20px;
}


/*
 * Header
 */

.header .container {
  position: relative;
}

/*
 * Footer
 */

.footer {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 64px;
}

.footer button {
  outline: none;
}

/*
 * Profile
 */

.profile {
  position: relative;
  display: block;
  margin-bottom: .75rem;
  background-color: #fff;
  border-radius: .25rem;
  border: 1px solid rgba(0,0,0,.125);
  margin-top: 20px;
}

.profile .card-block {
  padding: 1.25rem
}

.profile .avatar {
  width: 48px;
  position: absolute;
  top: -24px;
  left: calc(50% - 24px);
  border: 1px solid gray
}

.profile .permissions {
  margin-left: -12px;
}

/*
 * Tweet
 */

.tweet .avatar {
  width: 32px;
  border: 1px solid gray
}

.tweet .image-container {
  display: inline-block;
  vertical-align: top;
  width: 32px
}

.tweet .content-container {
  display: inline-block;
  margin-left: 8px;
  max-width: 85%
}

.tweet .title {
  line-height: 32px;
  display: inline-block
}

.tweet .text {
  margin-bottom: 5px
}

.tweet .timestamp {
  display: inline-block;
  margin-left: 8px;
  color: #999;
  font-size: 14px
}
```

Once you replace the styles, the application will rebuild and the browser will automatically update to reflect the changes.

> You may have noticed that this file is not included in `index.html`, but still controls the styling of the application.
> This is because it's required by the `Master` component that lives at `src/components/Master.js` and serves as the
> root of the application. You will interact with this component more later on.

### Visual Check-in

If everything went well, your application should now look like this.

<img class="drop-shadow" src="/assets/images/quickstart/layout/step-2.png">

## Code Changes

Below is a list of files modified during this step.

### assets/css/main.css

{% tabs tab1={"name": "Source", "id": 1} %}
{% tab id=1, is_active=true %}
```css
/*
 * Create Tweet Button
 */

.create-button {
  position: absolute;
  top: 25px;
  right: 15px;
  z-index: 1000;
  border-radius: 100px;
  outline: none;
}

/*
 * Edit and Delete Links
 */

.link {
  cursor: pointer;
  margin-right: 16px;
}

/*
 * Feed
 */

.feed .title {
  text-align: center;
}

.feed .tweets {
  margin-top: 32px;
}

.feed .pagination {
  text-align: center;
}

.feed nav {
  text-align: center;
}

/*
 * Filter
 */

.filter {
  marginTop: 20px;
}


/*
 * Header
 */

.header .container {
  position: relative;
}

/*
 * Footer
 */

.footer {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 64px;
}

.footer button {
  outline: none;
}

/*
 * Profile
 */

.profile {
  position: relative;
  display: block;
  margin-bottom: .75rem;
  background-color: #fff;
  border-radius: .25rem;
  border: 1px solid rgba(0,0,0,.125);
  margin-top: 20px;
}

.profile .card-block {
  padding: 1.25rem
}

.profile .avatar {
  width: 48px;
  position: absolute;
  top: -24px;
  left: calc(50% - 24px);
  border: 1px solid gray
}

.profile .permissions {
  margin-left: -12px;
}

/*
 * Tweet
 */

.tweet .avatar {
  width: 32px;
  border: 1px solid gray
}

.tweet .image-container {
  display: inline-block;
  vertical-align: top;
  width: 32px
}

.tweet .content-container {
  display: inline-block;
  margin-left: 8px;
  max-width: 85%
}

.tweet .title {
  line-height: 32px;
  display: inline-block
}

.tweet .text {
  margin-bottom: 5px
}

.tweet .timestamp {
  display: inline-block;
  margin-left: 8px;
  color: #999;
  font-size: 14px
}
```
{% endtab %}
{% endtabs %}


## Next Steps

Next we're going to [add the header](../step-3/).

{% endcapture %}
{{ markdown | markdownify }}
