<div class="block block-bordered-lg text-center">
  <div class="container-fluid">
    <p class="lead m-b-md">
      Join over 900,000 nerds already using Mochi. Get the Mochi App <strong>free</strong> forever!
    </p>
    <form class="form-inline">
      <input class="form-control m-b" placeholder="Email Address">
      <input class="form-control m-b" type="password" placeholder="Create a Password">
      <button class="btn btn-primary m-b">Get started</button>
    </form>
    <small class="text-muted">
      By clicking "Get started" I agree to Mochi's
      <a href="#">Terms of service</a>
    </small>
  </div>
</div>
