<div class="block block-inverse app-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <ul class="list-unstyled list-spaced">
          <li class="m-b"><h6 class="text-uppercase">About</h6></li>
          <li class="text-muted">
            Lore is a convention-driven framework for React, built with love by @_jchansen and @mikrofusion, to help
            you launch your ideas sooner and scale them into things of legend.
          </li>
        </ul>
      </div>
      <div class="col-sm-3 col-sm-offset-1">
        <ul class="list-unstyled list-spaced">
          <li class="m-b"><h6 class="text-uppercase">Links</h6></li>
          <li class="text-muted">
            <a href="#">New to React?</a>
          </li>
          <li class="text-muted">
            <a href="#">Getting Started</a>
          </li>
          <li class="text-muted">
            <a href="http://www.lorejs.org/">Docs</a>
          </li>
          <li class="text-muted">
            <a href="http://www.lorejs.org/docs/tutorial/index.html">Tutorial</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="list-unstyled list-spaced">
          <li class="m-b"><h6 class="text-uppercase">Connect</h6></li>
          <li class="text-muted">
            <a href="https://github.com/lore/lore">GitHub</a>
          </li>
          <li class="text-muted">
            <a href="https://twitter.com/loreframework">Twitter</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
