<div class="block block-inverse app-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <h6 class="m-b text-uppercase">About</h6>
        <ul class="list-unstyled list-spaced">
          <li class="text-muted">
            Lore is a convention-driven framework for React, built with love by
            <a href="https://twitter.com/_jchansen" style="color: white;">@_jchansen</a> and
            <a href="https://twitter.com/mikrofusion" style="color: white;">@mikrofusion</a>, to help you launch your ideas sooner and scale
            them into legend.
          </li>
        </ul>
      </div>
      <div class="col-sm-3 col-sm-offset-1">
        <h6 class="m-b text-uppercase">Links</h6>
        <ul class="list-unstyled list-spaced">
          <li class="text-muted">
            <a href="/getting-started">Getting Started</a>
          </li>
          <li class="text-muted">
            <a href="/tutorial/">Tutorial</a>
          </li>
          <li class="text-muted">
            <a href="/features/">Features</a>
          </li>
          <li class="text-muted">
            <a href="/concepts/">Concepts</a>
          </li>
          <li class="text-muted">
            <a href="/cli/">CLI</a>
          </li>
          <li class="text-muted">
            <a href="/examples/">Examples</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h6 class="m-b text-uppercase">Connect</h6>
        <ul class="list-unstyled list-spaced">
          <li class="text-muted">
            <a href="https://github.com/lore/lore">GitHub</a>
          </li>
          <li class="text-muted">
            <a href="https://twitter.com/loreframework">Twitter</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
