<nav class="navbar navbar-transparent navbar-fixed-top navbar-padded app-navbar p-t-md">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed p-x-0"
              data-target="#stage" data-toggle="stage" data-distance="-250">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="/assets/img/logos/lore_logo_text.png" alt="Lore" style="height: 150%; margin-top: -8px;">
      </a>
    </div>
    <div class="navbar-collapse collapse text-uppercase">
      <ul class="nav navbar-nav navbar-right nav-bordered">
        {% include nav-link.html layout="getting-started" title="Getting Started" url="/getting-started/" %}

        <!--<li>-->
          <!--<a href="http://lore-tutorial.surge.sh/docs/tutorial/index.html">Tutorial</a>-->
        <!--</li>-->

        {% include nav-link.html layout="tutorial" title="Tutorial" url="/tutorial/" %}
        {% include nav-link.html layout="features" title="Features" url="/features/" %}
        {% include nav-link.html layout="concepts" title="Concepts" url="/concepts/" %}
        {% include nav-link.html layout="recipes" title="Recipes" url="/recipes/" %}
        {% include nav-link.html layout="examples" title="Examples" url="/examples/" %}

        <li>
          <a href="https://github.com/lore/lore">GitHub</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
