<nav class="navbar navbar-transparent navbar-fixed-top navbar-padded app-navbar p-t-md">
  <div class="container">
    <div class="navbar-header">
      <button class="btn navbar-toggle collapsed navbar-toggle-text" data-target="#stage" data-toggle="stage" data-distance="-250">
        <span class="icon icon-menu stage-toggle-icon"></span>
        Menu
      </button>
      <!--<button type="button" class="navbar-toggle collapsed p-x-0"-->
              <!--data-target="#stage" data-toggle="stage" data-distance="-250">-->
        <!--<span class="sr-only">Toggle navigation</span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
      <!--</button>-->
      <a class="navbar-brand" href="/">
        <img src="/assets/images/logos/lore_logo_text.png" alt="Lore" style="height: 150%; margin-top: -8px;">
      </a>
    </div>
    <div class="navbar-collapse collapse text-uppercase">
      <ul class="nav navbar-nav navbar-right nav-bordered">
        {% include nav-link.html layout="audience" title="Audience" url="/audience/" %}
        {% include nav-link.html layout="quickstart" title="Quickstart" url="/quickstart/" %}
        {% include nav-link.html layout="features" title="Features" url="/features/" %}
        {% include nav-link.html layout="architecture" title="Architecture" url="/architecture/" %}
        {% include nav-link.html layout="examples" title="Examples" url="/examples/" %}
        {% include nav-link.html layout="cli" title="CLI" url="/cli/" %}
        {% include nav-link.html layout="videos" title="Videos" url="/videos/" %}
        <li>
          <a href="https://github.com/lore/lore">GitHub</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
