<div class="stage-shelf stage-shelf-right hidden" id="sidebar">
  <ul class="nav nav-bordered nav-stacked">
    <li class="nav-header">Documentation</li>
    <li class="text-muted active">
      <a href="/getting-started">Getting Started</a>
    </li>
    <li class="text-muted">
      <a href="http://lore-tutorial.surge.sh/docs/tutorial/index.html">Tutorial</a>
    </li>
    <li class="text-muted">
      <a href="/features/">Features</a>
    </li>
    <li class="text-muted">
      <a href="/concepts/">Concepts</a>
    </li>
    <li class="text-muted">
      <a href="/recipes/">Recipes</a>
    </li>
    <li class="text-muted">
      <a href="/examples/">Examples</a>
    </li>

    <li class="nav-divider"></li>
    <li class="nav-header">Connect</li>
    <li class="text-muted">
      <a href="https://github.com/lore/lore">GitHub</a>
    </li>
    <li class="text-muted">
      <a href="https://twitter.com/loreframework">Twitter</a>
    </li>
  </ul>
</div>
