<ul id="markdown-toc">
  {% include features/toc-link.html title="Introduction" url="/getting-started/" %}
  {% include features/toc-link.html title="Building your first React app" url="/getting-started/building-your-first-react-app/" %}
  {% include features/toc-link.html title="Introduction to Lore" url="/getting-started/introduction-to-lore/" %}
  {% include features/toc-link.html title="Why architecture matters" url="/getting-started/why-architecture-matters/" %}
  {% include features/toc-link.html title="How Lore helps your app grow" url="/getting-started/growing-your-application/" %}
  {% include features/toc-link.html title="Recipes for Success" url="/recipes/" %}
</ul>
