<ul id="markdown-toc">
  {% include features/toc-link.html title="Introduction" url="/getting-started/" %}

  <li class="doc-section">React Development</li>
  {% include features/toc-link.html title="Your First React App" url="/getting-started/building-your-first-react-app/" %}
  {% include features/toc-link.html title="Introduction to Lore" url="/getting-started/introduction-to-lore/" %}

  <li class="doc-section">Tutorials</li>
  {% include features/toc-link.html title="Beginner" url="/getting-started/tutorials/beginner/" %}
  {% include features/toc-link.html title="Intermediate" url="/getting-started/tutorials/intermediate/" %}
  {% include features/toc-link.html title="Advanced" url="/getting-started/tutorials/advanced/" %}

  <li class="doc-section">Focus Areas</li>
  {% include features/toc-link.html title="Features" url="/features/" %}
  {% include features/toc-link.html title="Recipes" url="/recipes/" %}
  <!--{% include features/toc-link.html title="Architecture" url="/getting-started/why-architecture-matters/" %}-->

</ul>
