---
layout: cli
permalink: /cli/generate-component/
---

{% capture markdown %}

# generate component
CLI command to add a Component to your project.

### Usage

```
lore generate component [component-name] [options]
```

## Options

### Option: ES Version
You can change which version of ES the component is generated in by passing in a language flag. By default,
components are generated in `ES5` syntax.

```
lore generate component MyComponent --es5
lore generate component MyComponent --es6
lore generate component MyComponent --esnext
```

{% include features/usage/components/basic.md %}

### Option: Router

Providing `--router` as an argument will generate a component configured for use with React-Router.

```
lore generate component MyComponent --router
```

{% include features/usage/components/router.md %}

### Option: Connect
Providing `--connect` as an argument will generatea a component wrapped on the
`lore.connect` decorator.

```
lore generate component MyComponent --connect
```

{% include features/usage/components/connect.md %}

### Combining Options
Options can also be combined to generate a component containing each of those characteristics.

```
lore generate component MyComponent --es6 --router --connect
```

{% endcapture %}
{{ markdown | markdownify }}
