{%
   include home/feature.html
   icon="image"
   title="Project Template"
   description="We process all the images you upload and take full advantage of modern cloud based storage to host them at blazing fast speeds."
%}

<li class="m-b-lg">
  <div class="featured-list-icon text-primary">
    <span class="icon icon-image"></span>
  </div>
  <p class="featured-list-icon-text m-b-0"><strong>Project Template</strong></p>
  <p class="featured-list-icon-text">
    We process all the images you upload and take full advantage of modern cloud based storage to host them at blazing fast speeds.
  </p>
</li>
