---
layout: features
permalink: /features/challenges/filtering/
---

{% capture markdown %}
# Filtering
Useful for viewing a subset of data that matches a specific criteria.

### Visualization
This video demonstrates what filtering looks like. Screenshots are from the _Simply Social_ prototype
that [Invision](https://www.invisionapp.com/) provides you when you sign up for an account.

<div class="video">
  <div class="embed-responsive embed-responsive-16by9 drop-shadow pretty-embed" data-pe-videoid="2Q8sH_pxYoo">
  </div>
</div>

### Usage
Example code showing how to filter data.

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active">
    <a href="#tab-usage-es5" role="tab" data-toggle="tab">
      ES5
    </a>
  </li>
  <li role="presentation" class="">
    <a href="#tab-usage-es6" role="tab" data-toggle="tab">
      ES6
    </a>
  </li>
  <li role="presentation" class="">
    <a href="#tab-usage-esnext" role="tab" data-toggle="tab">
      ESNext
    </a>
  </li>
</ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="tab-usage-es5">
    {% include features/usage/filtering/es5.html %}
  </div>
  <div role="tabpanel" class="tab-pane" id="tab-usage-es6">
    {% include features/usage/filtering/es6.html %}
  </div>
  <div role="tabpanel" class="tab-pane" id="tab-usage-esnext">
    {% include features/usage/filtering/es7.html %}
  </div>
</div>

{% endcapture %}
{{ markdown | markdownify }}

