---
layout: features
permalink: /features/challenges/pagination/
---

{% capture markdown %}

# Pagination
Useful for moving through large datasets, and providing the user with a sliced view of the data.

### Visualization
This video demonstrates what pagination looks like. Screenshots are from the _Simply Social_ prototype
that [Invision](https://www.invisionapp.com/) provides you when you sign up for an account.

<div class="video">
  <div class="embed-responsive embed-responsive-16by9 drop-shadow pretty-embed" data-pe-videoid="JpztALTbySU" data-pe-fitvids="true">
  </div>
</div>

### Usage
For a demonstration of pagination in action, please see the [pagination example](https://github.com/lore/lore/tree/master/examples/pagination).

Pagination is very similar to filtering, except that you include a second property in the `getState` call
named `pagination`. The properties passed to `where` and `pagination` are then
combined to form the query parameters for the final URL for the API call. For the example code below, the final
URL might look like this:

```
https://api.myapp.com/posts?authorId=123&page=2
```

When implementing pagination, it's recommended to use the route specify which page of data to display, such as:

```
https://www.myapp.com/posts?page=2
```

This will make it easy to support as everytime the route changes the `connect` call in the components will get a
change to rebuild their data request for the new page of data (if it's changed). Below is some example code in
ES5/ES6/ESNext syntax showing a component using this approach to request a page of data.

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active">
    <a href="#tab-usage-es5" role="tab" data-toggle="tab">
      ES5
    </a>
  </li>
  <li role="presentation" class="">
    <a href="#tab-usage-es6" role="tab" data-toggle="tab">
      ES6
    </a>
  </li>
  <li role="presentation" class="">
    <a href="#tab-usage-esnext" role="tab" data-toggle="tab">
      ESNext
    </a>
  </li>
</ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="tab-usage-es5">
    {% include features/usage/pagination/es5.html %}
  </div>
  <div role="tabpanel" class="tab-pane" id="tab-usage-es6">
    {% include features/usage/pagination/es6.html %}
  </div>
  <div role="tabpanel" class="tab-pane" id="tab-usage-esnext">
    {% include features/usage/pagination/es7.html %}
  </div>
</div>

{% endcapture %}
{{ markdown | markdownify }}
