<ul id="markdown-toc">
  {% include toc-link.html title="Introduction" url="/architecture/" %}

  <li class="doc-section">Concepts</li>
  {% include toc-link.html title="Actions" url="/architecture/actions/" %}
  {% include toc-link.html title="Reducers" url="/architecture/reducers/" %}
  {% include toc-link.html title="Models" url="/architecture/models/" %}
  {% include toc-link.html title="Collections" url="/architecture/collections/" %}
  {% include toc-link.html title="Connect" url="/architecture/connect/" %}
  {% include toc-link.html title="Routing" url="/architecture/routing/" %}

  <li class="doc-section">Core Libraries</li>
  {% include toc-link.html title="React" url="/architecture/libraries/react/" %}
  {% include toc-link.html title="Webpack" url="/architecture/libraries/webpack/" %}
  {% include toc-link.html title="Redux" url="/architecture/libraries/redux/" %}
  {% include toc-link.html title="React-Router" url="/architecture/libraries/react-router/" %}
  {% include toc-link.html title="Gulp" url="/architecture/libraries/gulp/" %}

  <li class="doc-section">Features</li>
  {% include toc-link.html title="Filtering" url="/architecture/features/filtering/" %}
  {% include toc-link.html title="Pagination" url="/architecture/features/pagination/" %}
  {% include toc-link.html title="Infinite Scrolling" url="/architecture/features/infinite-scrolling/" %}
  {% include toc-link.html title="WebSockets" url="/architecture/features/websockets/" %}
  {% include toc-link.html title="Visual Cues" url="/architecture/features/visual-cues/" %}
  {% include toc-link.html title="Optimistic Updates" url="/architecture/features/optimistic-updates/" %}
  {% include toc-placeholder-link.html title="Dialogs (todo)" %}
  {% include toc-placeholder-link.html title="Wizards (todo)" %}
  {% include toc-link.html title="Error Handling" url="/architecture/features/error-handling/" %}
  {% include toc-link.html title="404 Pages" url="/architecture/features/404-pages/" %}

  <li class="doc-section">AJAX Communication</li>
  {% include toc-link.html title="AJAX Abstraction" url="/architecture/ajax-abstraction/" %}
  {% include toc-placeholder-link.html title="XMLHttp Request (todo)" %}
  {% include toc-placeholder-link.html title="AJAX Abstraction (todo)" %}
  {% include toc-placeholder-link.html title="REST Abstraction (todo)" %}
  {% include toc-placeholder-link.html title="Templates (todo)" %}
  {% include toc-placeholder-link.html title="Conventions (todo)" %}

  <li class="doc-section">Custom Hook Tutorial</li>
  {% include toc-link.html title="Overview" url="/architecture/custom-hook-tutorial/overview/" %}
  {% include toc-link.html title="1. Clone Starter Project" url="/architecture/custom-hook-tutorial/step-1/" %}
  {% include toc-link.html title="2. Generate Hook" url="/architecture/custom-hook-tutorial/step-2/" %}
  {% include toc-link.html title="3. Specify Dependencies" url="/architecture/custom-hook-tutorial/step-3/" %}
  {% include toc-link.html title="4. Make Configurable" url="/architecture/custom-hook-tutorial/step-4/" %}
  {% include toc-link.html title="5. Add Implementation" url="/architecture/custom-hook-tutorial/step-5/" %}
  {% include toc-link.html title="6. Integrate Hook" url="/architecture/custom-hook-tutorial/step-6/" %}
  {% include toc-link.html title="7. Publishing" url="/architecture/custom-hook-tutorial/step-7/" %}

  <li class="doc-section">Extending Lore</li>
  {% include toc-link.html title="Extending Lore" url="/architecture/extending-lore/" %}

  <li class="doc-section">Connect</li>
  {% include toc-link.html title="Lore Connect vs. React-Redux Connect" url="/architecture/connect-difference/" %}

</ul>
