---
layout: tutorial
permalink: /new-tutorial/layout/step-2/
---

{% capture markdown %}

# Step 2: Add the Header

In this step we're going to add a Header to our application, and learn about the `component` generator.

If you're using the CLI to follow along, you can complete this step by running the following command:

```sh
lore generate tutorial step2
```

## Video Demonstration
The following video provides a guided walkthrough of this step.

<div class="video" style="padding-top: 16px;">
  <div class="embed-responsive embed-responsive-16by9 drop-shadow pretty-embed" data-pe-videoid="_tm9r6y953E">
  </div>
</div>

## Written Steps

### Generate the Header Component

Instead of asking you to copy/paste some code for the Header, we're going to use CLI to generate the boilerplate for
the component and modify it from there. Run the following command from the CLI:

```sh
lore generate component Header
```

This will generate a component called `Header` and place it at `src/components/Header.js`. The component will look
like this:

```js
var React = require('react');

module.exports = React.createClass({
  displayName: 'Header',

  propTypes: {},

  render: function () {
    return (
      <div></div>
    );
  }
});
```

While that may not be very useful by itself, as you could have just copy/paste/modified the `Layout` component, the
component generator is primarily meant to solve the problem of *creating* boilerplate during the initial app building
stages.

In addition to generating ES5 components (like the one above) you can also pass in a `--es6` or `--esnext` flag if you
want to explicitly create an ES6 or ESNext component (as a reminder, this happens automatically if you generated the
corresponding project type). You can also pass in flags for pre-configuring components for routing and
connecting them to the data store.

You'll see more examples of using the component generator later in this tutorial, and you can also learn more
about it [in the docs for the CLI](/cli/generate/component/).

### Modify the Header Component

Now that we've created the skeleton for the Header component, modify the render function to look like this:

```js
// src/components/Header.js
...
  render: function () {
    return (
      <nav className="navbar navbar-default navbar-static-top">
        <div className="container">
          <div className="navbar-header">
            <div className="navbar-brand">
              Lore Tutorial
            </div>
          </div>
        </div>
      </nav>
    );
  }
...
```

### Add the Header to the Layout

Now we need to modify the output of the `Layout` component so the Header gets rendered to the browser. Import the
`Header` component into `Layout` and update the render function for `Layout` to look like this:

```js
// src/components/Layout.js
var Header = require('./Header');
...
  render: function() {
    return (
      <div>
        <Header />
        <div className="container">
          <div className="row">
            <div className="col-md-offset-3 col-md-6">
              {/* Feed will go here */}
            </div>
          </div>
        </div>
      </div>
    );
  }
...
```

### Visual Check-in

If everything went well, your application should now look like this.

<img class="drop-shadow" src="/assets/images/new-tutorial/layout/step-2.png">

## Code Changes

Below is a list of files modified during this step, as well as a visual diff to show you what was added or removed
between this step and the last one.

### src/components/Header.js

{% tabs tab1={"name": "Diff", "id": 1} | tab2={"name": "Source", "id": 2} %}
{% tab id=1, is_active=true %}
![New Lore App](/assets/images/new-tutorial/diffs/layout/step-2-header.png)
{% endtab %}
{% tab id=2 %}
```js
var React = require('react');

module.exports = React.createClass({
  displayName: 'Header',

  render: function () {
    return (
      <nav className="navbar navbar-default navbar-static-top">
        <div className="container">
          <div className="navbar-header">
            <div className="navbar-brand">
              Lore Tutorial
            </div>
          </div>
        </div>
      </nav>
    );
  }
});
```
{% endtab %}
{% endtabs %}

### src/components/Layout.js

{% tabs tab1={"name": "Diff", "id": 3} | tab2={"name": "Source", "id": 4} %}
{% tab id=3, is_active=true %}
![New Lore App](/assets/images/new-tutorial/diffs/layout/step-2-layout.png)
{% endtab %}
{% tab id=4 %}
```js
var React = require('react');
var Header = require('./Header');

module.exports = React.createClass({
  displayName: 'Layout',

  render: function() {
    return (
      <div>
        <Header />
        <div className="container">
          <div className="row">
            <div className="col-md-offset-3 col-md-6">
              {/* Feed will go here */}
            </div>
          </div>
        </div>
      </div>
    );
  }

});
```
{% endtab %}
{% endtabs %}

## Next Steps

Next we're going to learn about [routing](../../routing/overview/).

{% endcapture %}
{{ markdown | markdownify }}
