<ul id="markdown-toc">

  {% include toc-link.html title="Purpose" url="/recipes/" %}

  <li class="doc-section">Recipes</li>
  {% include toc-link.html title="Disabling Optimistic Behavior" url="/recipes/disabling-optimistic-behavior/" %}
  {% include toc-link.html title="Loading Screens" url="/recipes/loading-screen/" %}
  <!--{% include toc-placeholder-link.html title="User Authentication" %}-->
  <!--{% include toc-placeholder-link.html title="Stylesheets" %}-->
  <!--{% include toc-placeholder-link.html title="Error Handling" %}-->
</ul>
