<ul id="markdown-toc">

  {% include toc-link.html title="Purpose" url="/examples/" %}

  <li class="doc-section">Examples</li>
  {% include toc-link.html title="TodoMVC" url="/examples/todo-mvc/" %}
  {% include toc-link.html title="Dialogs & Querying" url="/examples/dialogs-querying/" %}

  {% include toc-link.html title="Authentication" url="/examples/authentication/" %}
  {% include toc-link.html title="Authorization" url="/examples/authorization/" %}
  {% include toc-link.html title="Dialogs" url="/examples/dialogs/" %}
  {% include toc-link.html title="Error Handling" url="/examples/error-handling/" %}
  {% include toc-link.html title="Filtering" url="/examples/filtering/" %}
  {% include toc-link.html title="Infinite Scrolling" url="/examples/infinite-scrolling/" %}
  {% include toc-link.html title="Optimistic Updates" url="/examples/optimistic-updates/" %}
  {% include toc-link.html title="Pagination" url="/examples/pagination/" %}
  {% include toc-link.html title="WebSockets" url="/examples/websockets/" %}

</ul>
