<ul id="markdown-toc">

  {% include features/toc-link.html title="Purpose" url="/concepts/" %}

  <li class="doc-section">Concepts</li>
  {% include features/toc-placeholder-link.html title="Actions" %}
  {% include features/toc-placeholder-link.html title="Reducers" %}
  {% include features/toc-link.html title="Models" url="/concepts/models/" %}
  {% include features/toc-placeholder-link.html title="Collections" %}
  {% include features/toc-link.html title="Connect" url="/concepts/connect/" %}
  {% include features/toc-placeholder-link.html title="Routing" %}

  <li class="doc-section">Libraries</li>
  {% include features/toc-placeholder-link.html title="React" %}
  {% include features/toc-placeholder-link.html title="Webpack" %}
  {% include features/toc-placeholder-link.html title="Redux" %}
  {% include features/toc-placeholder-link.html title="React-Router" %}
  {% include features/toc-placeholder-link.html title="Gulp" %}

</ul>
