<ul id="markdown-toc">

  {% include features/toc-link.html title="Purpose" url="/concepts/" %}

  <li class="doc-section">Concepts</li>
  {% include features/toc-link.html title="Actions" url="/concepts/actions/" %}
  {% include features/toc-placeholder-link.html title="Reducers (todo)" %}
  {% include features/toc-link.html title="Models" url="/concepts/models/" %}
  {% include features/toc-link.html title="Collections" url="/concepts/collections" %}
  {% include features/toc-link.html title="Connect" url="/concepts/connect/" %}
  {% include features/toc-link.html title="Routing" url="/concepts/routing/" %}

  <li class="doc-section">Hooks</li>
  {% include features/toc-link.html title="Introduction" url="/concepts/hooks/introduction/" %}

  <li class="doc-section">Libraries</li>
  {% include features/toc-link.html title="React" url="/concepts/libraries/react/" %}
  {% include features/toc-link.html title="Webpack" url="/concepts/libraries/webpack/" %}
  {% include features/toc-link.html title="Redux" url="/concepts/libraries/redux/" %}
  {% include features/toc-link.html title="React-Router" url="/concepts/libraries/react-router/" %}
  {% include features/toc-link.html title="Gulp" url="/concepts/libraries/gulp/" %}

  <li class="doc-section">Misc</li>
  {% include features/toc-link.html title="Lore Connect vs. React-Redux Connect" url="/concepts/misc/connect-difference/" %}

</ul>
