<ul id="markdown-toc">
  {% include toc-link.html title="Introduction" url="/features/" %}
  {% include toc-link.html title="Purpose/Concepts" url="/concepts/" %}

  <li class="doc-section">Foundation</li>
  {% include toc-link.html title="React" url="/features/foundation/react/" %}
  {% include toc-link.html title="Server Communication" url="/features/foundation/server-communication/" %}
  {% include toc-link.html title="Routing" url="/features/foundation/routing/" %}

  <li class="doc-section">Data Structure</li>
  {% include toc-link.html title="Overview" url="/features/foundation/data-structure/" %}
  {% include toc-placeholder-link.html title="Models (todo)" %}
  {% include toc-placeholder-link.html title="Collections (todo)" %}

  <li class="doc-section">Core Features</li>
  {% include toc-link.html title="Filtering" url="/features/challenges/filtering/" %}
  {% include toc-link.html title="Pagination" url="/features/challenges/pagination/" %}
  {% include toc-link.html title="Infinite Scrolling" url="/features/challenges/infinite-scrolling/" %}
  {% include toc-link.html title="WebSockets" url="/features/challenges/websockets/" %}
  {% include toc-link.html title="Visual Cues" url="/features/challenges/visual-cues/" %}
  {% include toc-link.html title="Optimistic Updates" url="/features/challenges/optimistic-updates/" %}
  {% include toc-link.html title="Dialogs" url="/features/challenges/dialogs/" %}
  {% include toc-link.html title="Wizards" url="/features/challenges/wizards/" %}
  {% include toc-link.html title="Error Handling" url="/features/challenges/error-handling/" %}
  {% include toc-link.html title="404 Pages" url="/features/challenges/404-pages/" %}

  <li class="doc-section">Building</li>
  {% include toc-link.html title="Overview" url="/features/foundation/build-system/" %}
  {% include toc-placeholder-link.html title="Development" %}
  {% include toc-placeholder-link.html title="Production" %}

  <li class="doc-section">Publishing</li>
  {% include toc-link.html title="Overview" url="/features/foundation/publishing/" %}
  {% include toc-link.html title="Surge" url="/features/foundation/publishing/surge/" %}
  {% include toc-link.html title="GitHub Pages" url="/features/foundation/publishing/github-pages/" %}

  <li class="doc-section">Config</li>
  {% include toc-link.html title="actions" url="/features/config/actions/" %}
  {% include toc-link.html title="auth" url="/features/config/auth/" %}
  {% include toc-link.html title="collections" url="/features/config/collections/" %}
  {% include toc-link.html title="connect" url="/features/config/connect/" %}
  {% include toc-link.html title="connections" url="/features/config/connections/" %}
  {% include toc-link.html title="dialog" url="/features/config/dialog/" %}
  {% include toc-link.html title="local" url="/features/config/local/" %}
  {% include toc-link.html title="models" url="/features/config/models/" %}
  {% include toc-link.html title="reducers" url="/features/config/reducers/" %}
  {% include toc-link.html title="redux" url="/features/config/redux/" %}
  {% include toc-link.html title="router" url="/features/config/router/" %}

  <li class="doc-section">Hooks</li>
  {% include toc-link.html title="Introduction" url="/features/hooks/introduction/" %}
  {% include toc-link.html title="lore-hook-auth" url="/features/hooks/lore-hook-auth/" %}
  {% include toc-link.html title="lore-hook-actions" url="/features/hooks/lore-hook-actions/" %}
  {% include toc-link.html title="lore-hook-bind-actions" url="/features/hooks/lore-hook-bind-actions/" %}
  {% include toc-link.html title="lore-hook-collections" url="/features/hooks/lore-hook-collections/" %}
  {% include toc-link.html title="lore-hook-connections" url="/features/hooks/lore-hook-connections/" %}
  {% include toc-link.html title="lore-hook-connect" url="/features/hooks/lore-hook-connect/" %}
  {% include toc-link.html title="lore-hook-dialog" url="/features/hooks/lore-hook-dialog/" %}
  {% include toc-link.html title="lore-hook-models" url="/features/hooks/lore-hook-models/" %}
  {% include toc-link.html title="lore-hook-react" url="/features/hooks/lore-hook-react/" %}
  {% include toc-link.html title="lore-hook-reducers" url="/features/hooks/lore-hook-reducers/" %}
  {% include toc-link.html title="lore-hook-redux" url="/features/hooks/lore-hook-redux/" %}
  {% include toc-link.html title="lore-hook-router" url="/features/hooks/lore-hook-router/" %}
  {% include toc-link.html title="lore-hook-dialogs-bootstrap" url="/features/hooks/lore-hook-dialogs-bootstrap/" %}
  {% include toc-link.html title="lore-hook-dialogs-material-ui" url="/features/hooks/lore-hook-dialogs-material-ui/" %}
  {% include toc-link.html title="lore-hook-websockets" url="/features/hooks/lore-hook-websockets/" %}
  {% include toc-link.html title="lore-hook-websockets-actioncable" url="/features/hooks/lore-hook-websockets-actioncable/" %}
  {% include toc-link.html title="lore-hook-websockets-sails" url="/features/hooks/lore-hook-websockets-sails/" %}
  {% include toc-link.html title="lore-hook-websockets-socketio" url="/features/hooks/lore-hook-websockets-socketio/" %}


  <li class="doc-section">Custom Hook Tutorial</li>
  {% include toc-link.html title="Overview" url="/features/hooks/tutorial/overview/" %}
  {% include toc-link.html title="1. Clone Starter Project" url="/features/hooks/tutorial/step-1/" %}
  {% include toc-link.html title="2. Generate Hook" url="/features/hooks/tutorial/step-2/" %}
  {% include toc-link.html title="3. Specify Dependencies" url="/features/hooks/tutorial/step-3/" %}
  {% include toc-link.html title="4. Make Configurable" url="/features/hooks/tutorial/step-4/" %}
  {% include toc-link.html title="5. Add Implementation" url="/features/hooks/tutorial/step-5/" %}
  {% include toc-link.html title="6. Integrate Hook" url="/features/hooks/tutorial/step-6/" %}
  {% include toc-link.html title="7. Publishing" url="/features/hooks/tutorial/step-7/" %}

</ul>
