<ul id="markdown-toc">
  {% include features/toc-link.html title="Introduction" url="/features/" %}

  <li class="doc-section">Foundation</li>
  {% include features/toc/react.html title="React" url="/features/foundation/react/" %}
  {% include features/toc/webpack.html title="Build System" url="/features/foundation/build-system/" %}
  {% include features/toc-link.html title="Server Communication" url="/features/foundation/server-communication/" %}
  {% include features/toc/routing.html title="Routing" url="/features/foundation/routing/" %}
  {% include features/toc/publishing.html title="Publishing" url="/features/foundation/publishing/" %}

  <li class="doc-section">Supported Features</li>
  {% include features/toc/features/filtering.html title="Filtering" url="/features/challenges/filtering/" %}
  {% include features/toc/features/pagination.html title="Pagination" url="/features/challenges/pagination/" %}
  {% include features/toc/features/infinite-scrolling.html title="Infinite Scrolling" url="/features/challenges/infinite-scrolling/" %}
  {% include features/toc/features/websockets.html title="WebSockets" url="/features/challenges/websockets/" %}
  {% include features/toc/features/visual-cues.html title="Visual Cues" url="/features/challenges/visual-cues/" %}
  {% include features/toc/features/optimistic-updates.html title="Optimistic Updates" url="/features/challenges/optimistic-updates/" %}
  {% include features/toc/features/dialogs.html title="Dialogs" url="/features/challenges/dialogs/" %}
  {% include features/toc/features/wizards.html title="Wizards" url="/features/challenges/wizards/" %}
  {% include features/toc/features/error-handling.html title="Error Handling" url="/features/challenges/error-handling/" %}
  {% include features/toc/features/404-pages.html title="404 Pages" url="/features/challenges/404-pages/" %}

  <li class="doc-section">Config</li>
  {% include features/toc-placeholder-link.html title="actions" %}
  {% include features/toc-placeholder-link.html title="collections" %}
  {% include features/toc-placeholder-link.html title="connect" %}
  {% include features/toc-placeholder-link.html title="dialog" %}
  {% include features/toc-placeholder-link.html title="models" %}
  {% include features/toc-placeholder-link.html title="reducerActionMap" %}
  {% include features/toc-placeholder-link.html title="reducers" %}
  {% include features/toc-placeholder-link.html title="redux" %}
  {% include features/toc-placeholder-link.html title="router" %}

  <li class="doc-section">Architecture Topics</li>
  {% include features/toc-link.html title="Data Structure" url="/features/challenges/data-structure/" %}
  {% include features/toc-link.html title="AJAX Abstraction" url="/features/challenges/ajax-abstraction/" %}
  {% include features/toc-link.html title="Extending Lore" url="/features/architecture/extending-lore/" %}


  <!--<li class="doc-section">Troubleshooting</li>-->
  <!--<li class="doc-section">Manifesto</li>-->

</ul>
