<ul id="markdown-toc">
  <li class="doc-section">Foundation</li>
  {% include features/toc-link.html title="CLI" url="/features/foundation/cli/" %}
  {% include features/toc-link.html title="React" url="/features/foundation/react/" %}
  {% include features/toc-link.html title="Build System" url="/features/foundation/build-system/" %}
  {% include features/toc-link.html title="Server Communication" url="/features/foundation/server-communication/" %}
  {% include features/toc-link.html title="Routing" url="/features/foundation/routing/" %}
  {% include features/toc-link.html title="Publishing" url="/features/foundation/publishing/" %}

  <li class="doc-section">Architecture</li>
  {% include features/toc-link.html title="Data Structure (todo)" url="/features/challenges/data-structure/" %}
  {% include features/toc-link.html title="AJAX Abstraction" url="/features/challenges/ajax-abstraction/" %}

  <li class="doc-section">Supported Features</li>
  {% include features/toc-link.html title="Filtering" url="/features/challenges/filtering/" %}
  {% include features/toc-link.html title="Pagination" url="/features/challenges/pagination/" %}
  {% include features/toc-link.html title="*Infinite Scrolling (proposal)" url="/features/challenges/infinite-scrolling/" %}
  {% include features/toc-link.html title="Web Sockets" url="/features/challenges/websockets/" %}
  {% include features/toc-link.html title="Visual Cues" url="/features/challenges/visual-cues/" %}
  {% include features/toc-link.html title="Optimistic Updates" url="/features/challenges/optimistic-updates/" %}
  {% include features/toc-link.html title="*Dialogs (proposal)" url="/features/challenges/dialogs/" %}
  {% include features/toc-link.html title="*Wizards (proposal)" url="/features/challenges/wizards/" %}
  {% include features/toc-link.html title="Error Handling" url="/features/challenges/error-handling/" %}
  {% include features/toc-link.html title="404 Pages" url="/features/challenges/404-pages/" %}
</ul>
