<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>

    {% include navbar.html %}

    <div>
      {{ content }}
    </div>

    {% include footer.html %}

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="embed-responsive embed-responsive-16by9">
              <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/20za3gy37zw?autoplay=1" frameborder="0" allowfullscreen></iframe>-->
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/toolkit.js"></script>
    <!--<script src="/js/application.js"></script>-->
    <script src="/js/video-modal.js"></script>
    <script src="https://cdn.rawgit.com/mike-zarandona/PrettyEmbed.js/master/jquery.prettyembed.min.js"></script>

    <script>

      // Header signup form
      $('form.form-inline').submit(function(e) {
        e.preventDefault();

        var $input = $('.form-inline input');
        var $form = $('.form-inline');
        var $thankYouMessage = $('.thank-you-message');

        var email = $input.val();

        // todo: verify email address

//        console.log('submitted: ' + email);
//        $form.css('display', 'none');
//        $thankYouMessage.css('display', 'block');

        $.ajax({
          type: "POST",
          url: 'https://hooks.zapier.com/hooks/catch/1353534/ukg3d3/',
          json: true,
          data: {
            email: email
          },
          success: function() {
            console.log('submitted: ' + email);
            $form.css('display', 'none');
            $thankYouMessage.css('display', 'block');
          }
        });
      });

    </script>

  </body>

</html>
