<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>

    {% include stage-shelf.html %}

    <div class="stage" id="stage">
      {% include navbar.html %}
      {{ content }}
      {% include footer.html %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="embed-responsive embed-responsive-16by9"></div>
          </div>
        </div>
      </div>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/toolkit.js"></script>
    <!--<script src="/js/application.js"></script>-->
    <script src="/js/video-modal.js"></script>
    <script src="https://cdn.rawgit.com/mike-zarandona/PrettyEmbed.js/master/jquery.prettyembed.min.js"></script>
    <script src="/js/signup-forms.js"></script>

  </body>

</html>
