<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <link href="/assets/css/docs.css" rel="stylesheet">
  </head>
  <body>

    {% include stage-shelf.html %}

    <div class="stage" id="stage">
      {% include navbar.html %}

      {{ content }}

      {% include footer.html %}
    </div>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/toolkit.js"></script>
    <script src="/assets/js/application.js"></script>
    <script src="https://cdn.rawgit.com/mike-zarandona/PrettyEmbed.js/master/jquery.prettyembed.min.js"></script>

    <!-- Set the users language preference -->
    <script>
      var userLanguagePreference = localStorage.language || 'ES6';
      var buttons = $('#language-selector button');

      if (buttons.length > 0) {
        buttons.each(function(index, element) {
          var button = $(element);
          var language = button.attr('id');

          // highlight the current language preference
          if (language === userLanguagePreference) {
              button.addClass('active');
          }

          button.click(function(e) {
              // update the language preference
            localStorage.language = language;

            // deactivate the active button
            $('#language-selector button.active').removeClass('active');

            // active the new button
            button.addClass('active');
          });
        });
      }
    </script>

    <!-- Switch all tabs to the users language preference -->
    <script>
      $('.nav-tabs a').each(function(index, element) {
        var language = localStorage.language || 'ES6';
        var node = $(element);
        if (node.text() === language) {
          node.tab('show');
        }
      });
    </script>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-78964524-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>

</html>
