<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <link href="/css/docs.css" rel="stylesheet">
  </head>
  <body>

    {% include stage-shelf.html %}

    <div class="stage" id="stage">
      {% include navbar.html %}

      <div class="docs-header" id="content">
        <div class="container">
          <h1>Recipes</h1>
          <p>
            Patterns for solving problems that fall outside the scope of the framework.
          </p>
        </div>
      </div>

      <div class="container docs-content">
        {% include recipes/table-of-contents.html %}
        {{ content }}
      </div>

      {% include footer.html %}
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/toolkit.js"></script>
    <script src="/js/application.js"></script>
    <script src="https://cdn.rawgit.com/mike-zarandona/PrettyEmbed.js/master/jquery.prettyembed.min.js"></script>

  </body>

</html>
