<div class="block block-secondary" style="padding-bottom: 50px; padding-top: 50px;">
  <div class="container">

    <div class="row" style="padding-top: 32px; padding-bottom: 64px;">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <h6 class="text-muted text-uppercase">Project template for the win</h6>
        <h3 class="m-t-0">
          Preconfigured with <strong style="text-decoration: underline">sensible defaults</strong>.
        </h3>
        <p class="lead m-b-md">
          Lore’s project template makes it easy to get started and comes preconfigured with support for building,
          routing and publishing your project. Setup for all foundation libraries are exposed through simple config
          files and can be tailored if desired.
        </p>
        <!--<a type="button" class="btn btn-primary btn-lg" href="http://www.youtube.com" data-v="20za3gy37zw" style="color: white;">-->
          <!--Play-->
        <!--</a>-->

        <div class="video">
          <a type="button" class="play play-inverse" href="http://www.youtube.com" data-v="u34LnAbcfNQ">
            <span class="fui-play icon icon-controller-play"></span>
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="embed-responsive embed-responsive-16by9 drop-shadow">
          <iframe src="http://www.youtube.com/embed/u34LnAbcfNQ?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <ul class="featured-list featured-list-bordered">
          {% include home/features/project-template.html %}
          {% include home/features/redux.html %}
        </ul>
      </div>

      <div class="col-sm-4">
        <ul class="featured-list featured-list-bordered">
          {% include home/features/react.html %}
          {% include home/features/routing.html %}
        </ul>
      </div>

      <div class="col-sm-4">
        <ul class="featured-list featured-list-bordered">
          {% include home/features/webpack.html %}
          {% include home/features/publishing.html %}
        </ul>
      </div>
    </div>

  </div>
</div>
