<div class="block block-bordered-lg" style="padding-top: 50px;">
  <div class="container">

    <div class="row" style="padding-top: 32px; padding-bottom: 64px;">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <span class="icon icon-bar-graph feature-divider"></span>
        <h6 class="text-muted text-uppercase">Grow your app</h6>
        <h3 class="m-t-0">
          Thoughtfully designed to support <strong style="text-decoration: underline">features you'll need</strong> as you're app grows.
        </h3>
        <p class="lead">
          Lore is as serious about building scalable apps. The patterns in the framework are taken from years of
          building diverse applications, modified each time to account for new needs. Pagination, filtering...multiple
          APIs, real-time, complex multi-step wizards...this is a framework designed to solve all of those problems.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <ul class="featured-list">
          {% include home/challenges/data-structure.html %}
          {% include home/challenges/ajax-abstraction.html %}
          {% include home/challenges/filtering.html %}
          {% include home/challenges/pagination.html %}
        </ul>
      </div>

      <div class="col-sm-4">
        <ul class="featured-list">
          {% include home/challenges/infinite-scrolling.html %}
          {% include home/challenges/websockets.html %}
          {% include home/challenges/visual-cues.html %}
          {% include home/challenges/optimistic-updates.html %}
        </ul>
      </div>

      <div class="col-sm-4">
        <ul class="featured-list">
          {% include home/challenges/dialogs.html %}
          {% include home/challenges/wizards.html %}
          {% include home/challenges/error-handling.html %}
          {% include home/challenges/404-pages.html %}
        </ul>
      </div>
    </div>

  </div>
</div>
