<div class="block block-bordered-lg" style="padding-top: 50px;">
  <div class="container">

    <div class="row" style="padding-top: 32px; padding-bottom: 64px;">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <span class="icon icon-bar-graph feature-divider"></span>
        <h6 class="text-muted text-uppercase">Focus on adding value without constraint</h6>
        <h3 class="m-t-0">
          Thoughtfully designed to support <strong style="text-decoration: underline">features you'll need</strong> as your app grows.
        </h3>
        <p class="lead">
          Lore is serious about building scalable apps. The architectural patterns in the framework are taken from
          years of building diverse applications, and designed to solve not just the needs you have today, but the
          ones you'll have tomorrow as well.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <ul class="featured-list">
          {% include home/challenges/data-structure.html %}
        </ul>
      </div>
      <div class="col-sm-4">
        <ul class="featured-list">
          {% include home/challenges/ajax-abstraction.html %}
        </ul>
      </div>
      <div class="col-sm-4">
        <ul class="featured-list">
          {% include home/challenges/filtering.html %}
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <ul class="featured-list">
          {% include home/challenges/pagination.html %}
        </ul>
      </div>
      <div class="col-sm-4">
        <ul class="featured-list">
          {% include home/challenges/infinite-scrolling.html %}
        </ul>
      </div>
      <div class="col-sm-4">
        <ul class="featured-list">
          {% include home/challenges/websockets.html %}
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <ul class="featured-list">
          {% include home/challenges/visual-cues.html %}
        </ul>
      </div>
      <div class="col-sm-4">
        <ul class="featured-list">
          {% include home/challenges/optimistic-updates.html %}
        </ul>
      </div>
      <div class="col-sm-4">
        <ul class="featured-list">
          {% include home/challenges/dialogs.html %}
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <ul class="featured-list">
          {% include home/challenges/wizards.html %}
        </ul>
      </div>
      <div class="col-sm-4">
        <ul class="featured-list">
          {% include home/challenges/error-handling.html %}
        </ul>
      </div>
      <div class="col-sm-4">
        <ul class="featured-list">
          {% include home/challenges/404-pages.html %}
        </ul>
      </div>
    </div>

  </div>
</div>
