<div class="block block-inverse block-secondary app-code-block block-bordered-lg">
  <div class="container">

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h6 class="text-muted text-uppercase">Getting Started</h6>
        <h3 class="m-t-0">Everything you need.</h3>
        <p class="lead m-b-md">
          Lore’s project template makes it easy to get started and comes preconfigured with support for building,
          routing and publishing your project.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 video">
        <div class="embed-responsive embed-responsive-16by9 drop-shadow pretty-embed" data-pe-videoid="RKIGCzJfdgk" data-pe-fitvids="true">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <h6 class="text-muted text-uppercase">Getting Started</h6>
        <h3 class="m-t-0">Everything you need.</h3>
        <p class="lead m-b-md">
          Lore’s project template makes it easy to get started and comes preconfigured with support for building,
          routing and publishing your project.
        </p>
      </div>
      <div class="col-sm-6 video">
        <div class="embed-responsive embed-responsive-16by9 drop-shadow pretty-embed" data-pe-videoid="RKIGCzJfdgk" data-pe-fitvids="true">
        </div>
      </div>
    </div>

    <!--<div class="row">-->
      <!--<div class="col-sm-8 col-sm-offset-2 video">-->
        <!--<div class="embed-responsive embed-responsive-16by9 drop-shadow pretty-embed" data-pe-videoid="RKIGCzJfdgk" data-pe-fitvids="true">-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <div class="row" style="padding-top: 32px;">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <p class="lead m-x-auto">With over <strong>20 years of collective experience</strong>, we take the unthinkable and make it just a couple quick taps away.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <ul class="featured-list">

          <li class="m-b-lg">
            <div class="featured-list-icon text-primary">
              <span class="icon icon-image"></span>
            </div>
            <p class="featured-list-icon-text m-b-0"><strong>Project Template</strong></p>
            <p class="featured-list-icon-text">
              We process all the images you upload and take full advantage of modern cloud based storage to host them at blazing fast speeds.
            </p>
          </li>

          <li class="m-b-lg">
            <div class="featured-list-icon text-primary">
              <span class="icon icon-cloud"></span>
            </div>
            <p class="featured-list-icon-text m-b-0"><strong>Webpack</strong></p>
            <p class="featured-list-icon-text">
              Do it over the cloud, from anywhere, on any device. Mochi is super fast and always available, to not only you, but all your friends
            </p>
          </li>

          <li class="m-b-lg">
            <div class="featured-list-icon text-primary">
              <span class="icon icon-cloud"></span>
            </div>
            <p class="featured-list-icon-text m-b-0"><strong>Routing</strong></p>
            <p class="featured-list-icon-text">
              Do it over the cloud, from anywhere, on any device. Mochi is super fast and always available, to not only you, but all your friends
            </p>
          </li>

        </ul>
      </div>

      <div class="col-sm-6">
        <ul class="featured-list">

          <li class="m-b-lg">
            <div class="featured-list-icon text-primary">
              <span class="icon icon-hour-glass"></span>
            </div>
            <p class="featured-list-icon-text m-b-0"><strong>React</strong></p>
            <p class="featured-list-icon-text">
              This means you save tons of time by using our world class task manager and calendar and constantly reminds you how great it is.
            </p>
          </li>

          <li class="m-b-lg">
            <div class="featured-list-icon text-primary">
              <span class="icon icon-emoji-neutral"></span>
            </div>
            <p class="featured-list-icon-text m-b-0"><strong>Redux</strong></p>
            <p class="featured-list-icon-text">
              Share with emoji anyone in the world. We've baked them directly into Mochi. These probably won't help with productivity though.
            </p>
          </li>

          <li class="m-b-lg">
            <div class="featured-list-icon text-primary">
              <span class="icon icon-emoji-neutral"></span>
            </div>
            <p class="featured-list-icon-text m-b-0"><strong>Publishing</strong></p>
            <p class="featured-list-icon-text">
              Share with emoji anyone in the world. We've baked them directly into Mochi. These probably won't help with productivity though.
            </p>
          </li>

        </ul>
      </div>

    </div>
  </div>
</div>
