<div class="block block-inverse block-secondary app-code-block block-bordered-lg">
  <div class="container">

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 video">
        <div class="embed-responsive embed-responsive-16by9 drop-shadow pretty-embed" data-pe-videoid="u34LnAbcfNQ" data-pe-fitvids="true">
        </div>
      </div>
    </div>

    <div class="row" style="padding-top: 32px;">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <p class="lead m-x-auto">With over <strong>20 years of collective experience</strong>, we take the unthinkable and make it just a couple quick taps away.</p>

        <p class="magic">
          The MAGIC of Lore is it's ability to communicate with APIs WITHOUT needing to write any actions or reducers.

          It does this constructing blueprints for actions and reducers (from the recurring...) that take advantage of
          inherent/recurring patterns in server communication, and then using conventions to configure them.

          These blueprints can be tailored or overwritten completely.

          It does this by constructing blueprints for actions and reducers using the  the inherant
        </p>

        <p class="flexible">
          Lore is designed/built to be <strong>flexible</strong>. It follows a pattern of cascading overwrites. You set patterns for the project, and then override them as you need.


        </p>

        <p class="extensible">
          Lore is designed/built to be <strong>extensible</strong>. Lore is implemented as a series of plugins,
          and all of it's behaviors are exposed through configuration files.

          The framework is implemented as a series of plugins,

          And if that's not enough, you can even write your own plugins to override or extend the frameworks engine.

          Lore has opinions, but it also respects yours.
        </p>

        <p class="scalable">
          Lore is designed/built to be <strong>scalable</strong>. If you're an experienced developer, then you know how difficult it can be to maintain agility while supoorting an evolving application.
        </p>

      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <ul class="featured-list">
          {% include home/features/project-template.html %}
          {% include home/features/redux.html %}
        </ul>
      </div>

      <div class="col-sm-4">
        <ul class="featured-list">
          {% include home/features/react.html %}
          {% include home/features/routing.html %}
        </ul>
      </div>

      <div class="col-sm-4">
        <ul class="featured-list">
          {% include home/features/webpack.html %}
          {% include home/features/publishing.html %}
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <ul class="featured-list">
          {% include home/features/project-template.html %}
          {% include home/features/webpack.html %}
          {% include home/features/routing.html %}
        </ul>
      </div>

      <div class="col-sm-6">
        <ul class="featured-list">
          {% include home/features/react.html %}
          {% include home/features/redux.html %}
          {% include home/features/publishing.html %}
        </ul>
      </div>
    </div>

  </div>
</div>
