<div class="block block-inverse block-secondary app-code-block">
  <div class="container">
    <div class="row app-align-center">

      <div class="col-sm-6">
        <h6 class="text-muted text-uppercase">Project template for the win</h6>
        <!--<h6 class="text-muted text-uppercase">CLI based project generation</h6>-->
        <h3 class="m-t-0">
          Getting started is <strong style="text-decoration: underline">super easy</strong>.
        </h3>
        <p class="lead m-b-md text-muted">
          Just install the CLI and create your project. Everything you need is already included, and the project
          comes preconfigured with supporting for building, routing and publishing your project.
        </p>
      </div>

      <div class="col-sm-6">
        <pre class="app-code" style="padding: 10px 8px 10px 12px; width: auto; white-space: pre-line;">
          <span>$ npm install -g</span> lore-cli
          <span>$ </span> lore new my-app
          <span>$ </span> cd my-app
          <span>$ </span> npm install
          <span>$ </span> npm start
          <span>$ </span> ...
          <span>$ </span> Listening at localhost:3000.
        </pre>
      </div>

    </div>
  </div>
</div>
