<div class="block block-bordered-lg">
  <div class="container">

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <h6 class="text-muted text-uppercase">Everything you need</h6>
        <h3 class="m-t-0">Getting started</h3>
        <p class="lead m-b-md">
          Lore’s project template makes it easy to get started and comes preconfigured with support for building,
          routing and publishing your project. It also includes some powerful magic (called conventions) that lets you communicate with many API
          servers without writing any code.
        </p>
        <p class="lead m-b-md">
          Check out this video for a breakdown, and to see how Lore makes it easier to get started with React.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 video">
        <div class="embed-responsive embed-responsive-16by9 drop-shadow pretty-embed" data-pe-videoid="RKIGCzJfdgk" data-pe-fitvids="true">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <ul class="featured-list">
          {% include home/features/project-template.html %}
          {% include home/features/redux.html %}
        </ul>
      </div>

      <div class="col-sm-4">
        <ul class="featured-list">
          {% include home/features/react.html %}
          {% include home/features/routing.html %}
        </ul>
      </div>

      <div class="col-sm-4">
        <ul class="featured-list">
          {% include home/features/webpack.html %}
          {% include home/features/publishing.html %}
        </ul>
      </div>
    </div>

    <div class="row" style="padding-top: 32px;">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <p class="lead m-x-auto">
          Features you'll care about <strong>as your app grows</strong>.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <ul class="featured-list">
          {% include home/challenges/data-structure.html %}
          {% include home/challenges/ajax-abstraction.html %}
          {% include home/challenges/filtering.html %}
          {% include home/challenges/pagination.html %}
        </ul>
      </div>

      <div class="col-sm-4">
        <ul class="featured-list">
          {% include home/challenges/infinite-scrolling.html %}
          {% include home/challenges/websockets.html %}
          {% include home/challenges/visual-cues.html %}
          {% include home/challenges/optimistic-updates.html %}
        </ul>
      </div>

      <div class="col-sm-4">
        <ul class="featured-list">
          {% include home/challenges/dialogs.html %}
          {% include home/challenges/wizards.html %}
          {% include home/challenges/error-handling.html %}
          {% include home/challenges/404-pages.html %}
        </ul>
      </div>
    </div>

  </div>
</div>
