<div class="block block-inverse block-secondary app-code-block">
  <div class="container">
    <div class="row app-align-center">
      <div class="col-sm-5 col-sm-push-7">
          <pre class="app-code">
            <span>1</span> <span class="hidden-xs">goAnalytics</span> “who are the latest 3 users?”
            <span>2</span>
            <span>3</span>  {
            <span>4</span>    "Dave": {
            <span>5</span>      "fullName": "Dave Gamache",
            <span>6</span>      "twitterHandle": "@dhg",
            <span>7</span>    }
            <span>8</span>    "Mark": {
            <span>9</span>      "fullName": "Mark Otto",
            <span>10</span>      "twitterHandle": "@mdo",
            <span>11</span>    }
            <span>12</span>    "Jacob": {
            <span>13</span>      "fullName": "Jacob Thornton",
            <span>14</span>      "twitterHandle": "@fat",
            <span>15</span>    }
            <span>16</span>  }
          </pre>
      </div>

      <div class="col-sm-6 col-sm-pull-5">
        <h6 class="text-muted text-uppercase">Build apps that scale.</h6>
        <h3 class="m-t-0">Experienced Developer?</h3>
        <p class="lead m-b-md text-muted">
          Then you know how difficult it can be to grow and support a large client-side application. Lore takes
          these concerns seriously, and is architected not only to support a variety of UI design patterns, but
          also to adapt to single, multiple and evolving APIs.
        </p>
        <p class="lead m-b-md text-muted">
          And if none of that works for you, Lore is also architectured to be overwritten. We’ll even show you how : )
        </p>
        <button class="btn btn-default btn-lg btn-borderless">
          Read our docs
        </button>
      </div>
    </div>
  </div>
</div>
