<div class="block block-inverse app-header">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="block-title m-b-sm">Lore</h1>
          <p class="lead m-b-md text-muted">Build apps worthy of legend.</p>
          <!--<a type="button" class="btn btn-primary btn-lg" style="color: white;">-->
            <!--Play-->
          <!--</a>-->

          <div class="video">
            <a type="button" class="play" href="http://www.youtube.com" data-v="dQw4w9WgXcQ">
              <span class="fui-play icon icon-controller-play"></span>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


