<div class="block block-inverse app-header">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="block-title m-b-sm">Lore</h1>
          <p class="lead m-b-md text-muted">Build apps worthy of legend.</p>
          <!--<a type="button" class="btn btn-primary btn-lg" style="color: white;">-->
            <!--Play-->
          <!--</a>-->

          <div class="video">
            <a type="button" class="play" href="http://www.youtube.com" data-v="dQw4w9WgXcQ">
              <span class="fui-play icon icon-controller-play"></span>
            </a>
          </div>

          <form class="form-inline" style="padding-top: 48px;">
            <p style="color: rgba(255, 255, 255, .7);margin: 0;">
              Lore is currently in active development.
            </p>
            <p style="color: rgba(255, 255, 255, .7);">
              Sign up to be notified as new features are released/supported.
            </p>
            <div class="input-group" style="width: 46%; max-width: 350px;">
              <span class="input-group-addon" style="width: 1%;">
                <span class="icon icon-mail"></span>
              </span>
              <input class="form-control" placeholder="Email Address">
            </div>
            <button class="btn btn-primary">
              Notify me
            </button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>


