<div class="block block-inverse app-header" style="padding-bottom: 64px;">
  <div>
    <div class="container">

      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="block-title m-b-sm">Build apps worthy of legend</h1>
          <p class="lead m-b-md text-muted">
            Convention-driven framework for React.
            <br/>
            Built on Webpack, Redux and React-Router.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-center">
          <div class="play-button-container">
            <a type="button" class="play" href="http://www.youtube.com" data-v="XiYHhO2yIkA">
              <span class="fui-play icon icon-controller-play"></span>
            </a>
          </div>
        </div>
      </div>

      <div class="row" style="padding-top: 64px;">
        <div class="col-md-12 text-center">
          <p style="color: rgba(255, 255, 255, .7); margin-bottom: 15px;">
            Would you like to be notified as new features and docs are released? Sign up!
          </p>

          <h4 class="thank-you-message" style="display: none;">
            Thanks! We'll email you when there are noteworthy updates to Lore.
          </h4>

          <form class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">
                  <span class="icon icon-mail"></span>
                </div>
                <input type="email" class="form-control" placeholder="Email Address">
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="form-control btn btn-primary">Notify me</button>
            </div>
          </form>

        </div>
      </div>

    </div>
  </div>
</div>


