<div class="block block-inverse app-ribbon p-y-lg">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12 text-center">

        <p class="lead">
          Would you like to be notified as new features and docs are released?
        </p>

        <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">
                <span class="icon icon-mail"></span>
              </div>
              <input type="email" class="form-control" placeholder="Email Address" style="min-width: 300px;">
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="form-control btn btn-primary">Notify me</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
