<div class="block block-secondary">
  <div class="container">
    <div class="row">

      <div class="col-sm-8 col-sm-offset-2 text-center">
        <h6 class="text-muted text-uppercase">Convention-driven Magic</h6>
        <h3 class="m-t-0">Talk to APIs <strong>without</strong> writing actions or reducers</h3>
        <p class="lead m-b-md">
          By creating blueprints from the naturally recurring patterns in server communication, and configuring them
          through conventions, Lore is able to perform CRUD operations for many REST APIs without the need to
          write custom code.
          By recognizing the naturally recurring patterns that exist
          Lore contains blueprints for common actions and reducers that it configures using the frameworks conventions.
          This means that by creating nothing but a single empty file, you get immediate access to create, update, delete, and find resources. You
          By building on the naturally recurring patterns inherent in action-reducer con action-reducer-server communication, Lore constructs blueprints for common CRUD operations that allow you to perform common CRUD operations <em>without</em> needing to write any custom actions or reducers.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 drop-shadow">
        <img src="assets/img/conventions.png" style="width: 100%;">
      </div>
    </div>

  </div>
</div>
