<div class="block block-secondary">
  <div class="container">
    <div class="row">

      <div class="col-sm-8 col-sm-offset-2 text-center">
        <h6 class="text-muted text-uppercase">Convention-driven Magic</h6>
        <h3 class="m-t-0">Talk to APIs <strong style="text-decoration: underline;">without</strong> writing actions or reducers</h3>
        <p class="lead m-b-md">
          Lore contains blueprints for common actions and reducers that it configures using the frameworks conventions.
          By creating a model, Lore provides access to a set of actions and reducers capable of supporting common
          CRUD operations, which can then be configured or overridden as required.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <img src="assets/img/conventions.png" style="width: 100%;">
      </div>
    </div>

  </div>
</div>
