<div class="block block-secondary">
  <div class="container">
    <div class="row">

      <div class="col-sm-8 col-sm-offset-2 text-center">
        <h6 class="text-muted text-uppercase">More Convention-driven Magic</h6>
        <h3 class="m-t-0">Declarative lazy-loading components.</h3>
        <p class="lead m-b-md">
          Lore provides a simple decorator that allows you to declare what data your components need. If this data
          exists, it will be provided to your component. If it doesn't, Lore will <em>automatically</em> call the
          required action and inform your component when the data comes back.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 drop-shadow">
        <img src="assets/img/lazy-loading.png" style="width: 100%;">
      </div>
    </div>

  </div>
</div>
