<div class="block block-secondary" style="padding-top: 0px;">
  <div class="container">
    <div class="row">

      <div class="col-sm-8 col-sm-offset-2 text-center" style="padding-bottom: 20px;">
        <h6 class="text-muted text-uppercase">Declarative lazy-loading components</h6>
        <h3 class="m-t-0">Then fetch data <strong style="text-decoration: underline">just by declaring it.</strong></h3>
        <p class="lead m-b-md">
          Lore provides a simple decorator that allows you to declare what data your components need. If this data
          exists, it will be provided to your component. If it doesn't, Lore will <em>automatically</em> call the
          required action and inform your component when the data comes back.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <img src="assets/img/homepage/decorator-lazy-loading.png" style="width: 100%;">
      </div>
    </div>

  </div>
</div>
